.container {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 260px;
    height: 350px;
    display: flex;
    flex-direction: column;
    right: 0;
    /* border-style: dashed; */
}

.chat_field {
    height: 90%;
    background: linear-gradient(
        to bottom,
        rgba(169,169,169, 0) 10%,
        rgba(169,169,169, 0.1) 15%,
        rgba(169,169,169, 0.3) 25%,
        rgba(169,169,169, 0.4) 40%,
        rgba(169,169,169, 0.5) 50%,
        rgb(169, 169, 169, 0.6) 75%,
        rgb(169, 169, 169, 0.7) 100%
    );
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 1rem 0.8rem 0 0.8rem;
}

.right_message {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right_message .content {
    background-color: rgba(246, 239, 213);
    
}

.left_message {
    margin-bottom: 5px;
    flex-direction: column;
    align-items: flex-start;
}


.left_message .content {
    background-color: rgba(230, 245, 210);
}

.content {
    display: inline-block;
    max-width: 80%;
    padding: 0.2rem 0.7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    border-radius: 12px;
}

.user {
    display: block;
    font-size: small;
    margin-bottom: 0.06rem;
}

.chat_input_field {
    height: 10%;   
}

.text_input {
    height: 100%;
    width: 80%;
    border-style: none;
    padding-left: 10px;
}

.text_send {
    display: inline-block;
    height: 100%;
    background-color: #D7E8FF;
    width: 20%;
    text-align: center;
}