.timer {
    background: white;
    width: 11.5rem;
    height: 2.3rem;
    right: 40%;
    top: 4%;
    border-radius: 15px;
    font-size: larger;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}